<a href="https://colab.research.google.com/github/luadeprataart/Reconhecimento-de-Padroes/blob/main/Introducao_Scikit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introdução ao Scikit-Learn
#### Material baseado no livro "Practical Machine Learning with Python" Sarkar, D. (et al.) (2018)

---

# Numpy
## Arrays

In [1]:
import numpy as np
arr = np.array([1,3,4,5,6])
arr

array([1, 3, 4, 5, 6])

In [2]:
arr.shape

(5,)

In [3]:
arr.dtype

dtype('int64')

In [4]:
arr = np.array([1,'st','er',3])
arr.dtype

dtype('<U21')

In [ ]:
#np.sum(arr)

### Creating arrays

In [5]:
arr = np.array([[1,2,3],[2,4,6],[8,8,8]])
arr.shape

(3, 3)

In [6]:
arr

array([[1, 2, 3],
       [2, 4, 6],
       [8, 8, 8]])

In [7]:
arr = np.zeros((2,4))
arr

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [9]:
arr = np.ones((2,4))
arr

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [10]:
arr = np.identity(3)
arr

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [11]:
arr = np.random.randn(3,4)
arr

array([[ 1.45219606, -0.66370103, -0.62934459, -0.0460902 ],
       [ 0.04972066,  0.93725617, -0.01671543,  1.18522919],
       [ 0.13719631,  0.60703607, -0.11729002, -0.67048674]])

### Accessing array elements
#### Simple indexing

In [12]:
arr[1]

array([ 0.04972066,  0.93725617, -0.01671543,  1.18522919])

In [13]:
arr = np.arange(12).reshape(2,2,3)
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [14]:
arr[0]

array([[0, 1, 2],
       [3, 4, 5]])

In [25]:
arr = np.arange(10)
print('array: ',arr)
print('array fatiado: ', arr[5:])  #fatia de 5 >> ...

array:  [0 1 2 3 4 5 6 7 8 9]
array fatiado:  [5 6 7 8 9]

In [28]:
print('fatiado de 5>> 7: ',arr[5:8])

fatiado de 5>> 7:  [5 6 7]

In [30]:
print('fatiado ao contrario ...<<5: ',arr[:-5])

fatiado ao contrario ...<<5:  [0 1 2 3 4]

In [16]:
arr = np.arange(12).reshape(2,2,3) #Redimensionar o array
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [19]:
arr[1:2]

array([[[ 6,  7,  8],
        [ 9, 10, 11]]])

In [20]:
arr = np.arange(27).reshape(3,3,3) #criei 0 a 27
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [21]:
arr[:,:,2]

array([[ 2,  5,  8],
       [11, 14, 17],
       [20, 23, 26]])

In [22]:
arr[...,2]

array([[ 2,  5,  8],
       [11, 14, 17],
       [20, 23, 26]])

#### Advanced Indexing

In [32]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [33]:
arr[[0,1,2],[1,0,0]]

array([1, 3, 6])

##### Boolean Indexing

In [34]:
cities = np.array(["delhi","banglaore","mumbai","chennai","bhopal"])
city_data = np.random.randn(5,3)
city_data

array([[-1.14346364, -0.55120542, -1.64110523],
       [-0.21763258, -0.70527332,  0.33134266],
       [-0.12171534, -0.94682038, -0.16283741],
       [-0.14080045, -1.09910564,  0.43040607],
       [-0.92644013, -1.31789383,  0.04741811]])

In [36]:
cities =="delhi" #mascara (sub-array)

array([ True, False, False, False, False])

In [37]:
city_data[cities =="delhi"]

array([[-1.14346364, -0.55120542, -1.64110523]])

In [38]:
city_data[city_data >0]

array([0.33134266, 0.43040607, 0.04741811])

In [39]:
city_data[city_data >0] = 0
city_data

array([[-1.14346364, -0.55120542, -1.64110523],
       [-0.21763258, -0.70527332,  0.        ],
       [-0.12171534, -0.94682038, -0.16283741],
       [-0.14080045, -1.09910564,  0.        ],
       [-0.92644013, -1.31789383,  0.        ]])

#### Operations on arrays

In [40]:
arr = np.arange(15).reshape(3,5)  # reshape(a,b,c): a*b = qtd itens // a*b/c =qtd itens
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [41]:
arr + 5

array([[ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [42]:
arr * 2

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [43]:
arr1 = np.arange(15).reshape(5,3)
arr2 = np.arange(5).reshape(5,1)
arr2 + arr1

array([[ 0,  1,  2],
       [ 4,  5,  6],
       [ 8,  9, 10],
       [12, 13, 14],
       [16, 17, 18]])

In [44]:
arr1

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [45]:
arr2

array([[0],
       [1],
       [2],
       [3],
       [4]])

In [46]:
arr1 = np.random.randn(5,3)
arr1

array([[ 1.28853049, -3.44517724,  0.0760856 ],
       [ 0.35622922, -0.70457612, -2.07792866],
       [ 0.84863139,  0.10838643, -0.39249644],
       [ 0.05487495,  1.4487189 , -0.00405969],
       [ 0.73750428,  1.63833619, -1.32389323]])

In [47]:
np.modf(arr1)

(array([[ 0.28853049, -0.44517724,  0.0760856 ],
        [ 0.35622922, -0.70457612, -0.07792866],
        [ 0.84863139,  0.10838643, -0.39249644],
        [ 0.05487495,  0.4487189 , -0.00405969],
        [ 0.73750428,  0.63833619, -0.32389323]]),
 array([[ 1., -3.,  0.],
        [ 0., -0., -2.],
        [ 0.,  0., -0.],
        [ 0.,  1., -0.],
        [ 0.,  1., -1.]]))

#### Linear algebra using numpy

In [48]:
A = np.array([[1,2,3],[4,5,6],[7,8,9]])
B = np.array([[9,8,7],[6,5,4],[1,2,3]])
A.dot(B)

array([[ 24,  24,  24],
       [ 72,  69,  66],
       [120, 114, 108]])

In [49]:
A = np.arange(15).reshape(3,5)
A.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

# Pandas
## Data frames

In [52]:
import pandas as pd
d =  [{'city':'Delhi',"data":1000},
      {'city':'Banglaore',"data":2000},
      {'city':'Mumbai',"data":1000}]
pd.DataFrame(d)

        city  data
0      Delhi  1000
1  Banglaore  2000
2     Mumbai  1000

In [51]:
df = pd.DataFrame(d)

### Reading in data

In [54]:
city_data = pd.read_csv(filepath_or_buffer='simplemaps-worldcities-basic.csv')

In [55]:
city_data.head(n=10)

,city,city_ascii,lat,lng,pop,country,iso2,iso3,province
0,Qal eh-ye Now,Qal eh-ye,34.983000,63.133300,2997.0,Afghanistan,AF,AFG,Badghis
1,Chaghcharan,Chaghcharan,34.516701,65.250001,15000.0,Afghanistan,AF,AFG,Ghor
2,Lashkar Gah,Lashkar Gah,31.582998,64.360000,201546.0,Afghanistan,AF,AFG,Hilmand
3,Zaranj,Zaranj,31.112001,61.886998,49851.0,Afghanistan,AF,AFG,Nimroz
4,Tarin Kowt,Tarin Kowt,32.633298,65.866699,10000.0,Afghanistan,AF,AFG,Uruzgan
5,Zareh Sharan,Zareh Sharan,32.850000,68.416705,13737.0,Afghanistan,AF,AFG,Paktika
6,Asadabad,Asadabad,34.866000,71.150005,48400.0,Afghanistan,AF,AFG,Kunar
7,Taloqan,Taloqan,36.729999,69.540004,64256.0,Afghanistan,AF,AFG,Takhar
8,Mahmud-E Eraqi,Mahmud-E Eraqi,35.016696,69.333301,7407.0,Afghanistan,AF,AFG,Kapisa
9,Mehtar Lam,Mehtar Lam,34.650000,70.166701,17345.0,Afghanistan,AF,AFG,Laghman

In [57]:
city_data.tail()

,city,city_ascii,lat,lng,pop,country,iso2,iso3,province
7317,Mutare,Mutare,-18.970019,32.650038,216785.0,Zimbabwe,ZW,ZWE,Manicaland
7318,Kadoma,Kadoma,-18.330006,29.909947,56400.0,Zimbabwe,ZW,ZWE,Mashonaland West
7319,Chitungwiza,Chitungwiza,-18.000001,31.100003,331071.0,Zimbabwe,ZW,ZWE,Harare
7320,Harare,Harare,-17.817790,31.044709,1557406.5,Zimbabwe,ZW,ZWE,Harare
7321,Bulawayo,Bulawayo,-20.169998,28.580002,697096.0,Zimbabwe,ZW,ZWE,Bulawayo

In [58]:
series_es = city_data.lat

In [59]:
type(series_es)

pandas.core.series.Series

In [60]:
series_es[1:10:2]

1    34.516701
3    31.112001
5    32.850000
7    36.729999
9    34.650000
Name: lat, dtype: float64

In [61]:
series_es[:7]

0    34.983000
1    34.516701
2    31.582998
3    31.112001
4    32.633298
5    32.850000
6    34.866000
Name: lat, dtype: float64

In [62]:
series_es[:-7315]

0    34.983000
1    34.516701
2    31.582998
3    31.112001
4    32.633298
5    32.850000
6    34.866000
Name: lat, dtype: float64

In [63]:
city_data[:7]

,city,city_ascii,lat,lng,pop,country,iso2,iso3,province
0,Qal eh-ye Now,Qal eh-ye,34.983000,63.133300,2997.0,Afghanistan,AF,AFG,Badghis
1,Chaghcharan,Chaghcharan,34.516701,65.250001,15000.0,Afghanistan,AF,AFG,Ghor
2,Lashkar Gah,Lashkar Gah,31.582998,64.360000,201546.0,Afghanistan,AF,AFG,Hilmand
3,Zaranj,Zaranj,31.112001,61.886998,49851.0,Afghanistan,AF,AFG,Nimroz
4,Tarin Kowt,Tarin Kowt,32.633298,65.866699,10000.0,Afghanistan,AF,AFG,Uruzgan
5,Zareh Sharan,Zareh Sharan,32.850000,68.416705,13737.0,Afghanistan,AF,AFG,Paktika
6,Asadabad,Asadabad,34.866000,71.150005,48400.0,Afghanistan,AF,AFG,Kunar

In [64]:
city_data.iloc[:5,:4]

            city   city_ascii        lat        lng
0  Qal eh-ye Now    Qal eh-ye  34.983000  63.133300
1    Chaghcharan  Chaghcharan  34.516701  65.250001
2    Lashkar Gah  Lashkar Gah  31.582998  64.360000
3         Zaranj       Zaranj  31.112001  61.886998
4     Tarin Kowt   Tarin Kowt  32.633298  65.866699

In [65]:
city_data[city_data['pop'] > 10000000][city_data.columns[pd.Series(city_data.columns).str.startswith('l')]]

            lat         lng
360  -34.602502  -58.397531
1171 -23.558680  -46.625020
2068  31.216452  121.436505
3098  28.669993   77.230004
3110  19.016990   72.856989
3492  35.685017  139.751407
4074  19.442442  -99.130988
4513  24.869992   66.990009
5394  55.752164   37.615523
6124  41.104996   29.010002
7071  40.749979  -73.980017

In [66]:
city_greater_10mil = city_data[city_data['pop'] > 10000000]
city_greater_10mil.rename(columns={'pop':'population'}, inplace=True)
city_greater_10mil.where(city_greater_10mil.population > 15000000)

<ipython-input-66-f1a3e95243c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_greater_10mil.rename(columns={'pop':'population'}, inplace=True)

,city,city_ascii,lat,lng,population,country,iso2,iso3,province
360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3110,Mumbai,Mumbai,19.016990,72.856989,15834918.0,India,IN,IND,Maharashtra
3492,Tokyo,Tokyo,35.685017,139.751407,22006299.5,Japan,JP,JPN,Tokyo
4074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df = pd.DataFrame(np.random.randn(8, 3),
columns=['A', 'B', 'C'])

### Operations on dataframes

In [69]:
nparray = df.values
type(nparray)

numpy.ndarray

In [70]:
from numpy import nan
df.iloc[4,2] = nan

In [71]:
df

          A         B         C
0 -0.711015 -0.610072 -0.650510
1 -0.455159  0.210604  0.427570
2 -0.131670 -0.346323  0.001831
3  0.024815 -0.583009 -1.897129
4  0.288522  1.087331       NaN
5  0.207034 -0.544031 -1.075128
6 -1.368461 -2.716201  0.932536
7 -1.131360  2.724106 -1.109780

In [72]:
df.fillna(0)

          A         B         C
0 -0.711015 -0.610072 -0.650510
1 -0.455159  0.210604  0.427570
2 -0.131670 -0.346323  0.001831
3  0.024815 -0.583009 -1.897129
4  0.288522  1.087331  0.000000
5  0.207034 -0.544031 -1.075128
6 -1.368461 -2.716201  0.932536
7 -1.131360  2.724106 -1.109780

In [73]:
columns_numeric = ['lat','lng','pop']

In [74]:
city_data[columns_numeric].mean()

lat        20.662876
lng        10.711914
pop    265463.071633
dtype: float64

In [75]:
city_data[columns_numeric].sum()

lat    1.512936e+05
lng    7.843263e+04
pop    1.943721e+09
dtype: float64

In [76]:
city_data[columns_numeric].count()

lat    7322
lng    7322
pop    7322
dtype: int64

In [80]:
city_data[columns_numeric].median()

lat       26.792730
lng       18.617509
pop    61322.750000
dtype: float64

In [79]:
city_data[columns_numeric].quantile(0.8)

lat        46.852480
lng        89.900018
pop    269210.000000
Name: 0.8, dtype: float64

In [78]:
city_data[columns_numeric].sum(axis = 1).head()

0      3095.116300
1     15099.766702
2    201641.942998
3     49943.998999
4     10098.499997
dtype: float64

In [77]:
city_data[columns_numeric].describe()

               lat          lng           pop
count  7322.000000  7322.000000  7.322000e+03
mean     20.662876    10.711914  2.654631e+05
std      29.134818    79.044615  8.287622e+05
min     -89.982894  -179.589979 -9.900000e+01
25%      -0.324710   -64.788472  1.734425e+04
50%      26.792730    18.617509  6.132275e+04
75%      43.575448    73.103628  2.001726e+05
max      82.483323   179.383304  2.200630e+07

In [81]:
city_data1 = city_data.sample(3)

### Concatanating data frames

In [89]:
city_data2 = city_data.sample(3)
city_data_combine = pd.concat([city_data1,city_data2])
city_data_combine

,city,city_ascii,lat,lng,pop,country,iso2,iso3,province
6781,Atlantic City,Atlantic City,39.364637,-74.423323,58563.5,United States of America,US,USA,New Jersey
991,Paracuru,Paracuru,-3.399548,-39.040031,19860.0,Brazil,BR,BRA,Ceará
5551,Vereeniging,Vereeniging,-26.649602,27.959988,774340.5,South Africa,ZA,ZAF,Gauteng
4022,Isla Mujeres,Isla Mujeres,21.208391,-86.711455,12491.0,NaN,MX,MEX,Quintana Roo
2981,Dehra Dun,Dehra Dun,30.320409,78.050006,646321.5,NaN,IN,IND,Uttaranchal
5422,Al Mubarraz,Al Mubarraz,25.429054,49.565905,294682.0,NaN,SA,SAU,Ash Sharqiyah

In [94]:
country_data = city_data[['iso3','country']].drop_duplicates() # remover linhas duplicadas

#Está pratica é importante para não viciar os dados na fase de treinamento ou teste

KeyError: ignored

In [91]:
country_data.shape

(223, 2)

In [92]:
country_data.head()

    iso3         country
0    AFG     Afghanistan
33   ALD           Aland
34   ALB         Albania
60   DZA         Algeria
111  ASM  American Samoa

In [93]:
del(city_data['country'])

KeyError: ignored

In [87]:
city_data.merge(country_data, 'inner').head()

,city,city_ascii,lat,lng,pop,iso2,iso3,province,country
0,Qal eh-ye Now,Qal eh-ye,34.983000,63.133300,2997.0,AF,AFG,Badghis,Afghanistan
1,Chaghcharan,Chaghcharan,34.516701,65.250001,15000.0,AF,AFG,Ghor,Afghanistan
2,Lashkar Gah,Lashkar Gah,31.582998,64.360000,201546.0,AF,AFG,Hilmand,Afghanistan
3,Zaranj,Zaranj,31.112001,61.886998,49851.0,AF,AFG,Nimroz,Afghanistan
4,Tarin Kowt,Tarin Kowt,32.633298,65.866699,10000.0,AF,AFG,Uruzgan,Afghanistan

# Scikit-learn

In [95]:
from sklearn import datasets
diabetes = datasets.load_diabetes()
X = diabetes.data[:10]
y = diabetes.target

In [96]:
X[:5]

array([[ 0.03807591,  0.05068012,  0.06169621,  0.02187239, -0.0442235 ,
        -0.03482076, -0.04340085, -0.00259226,  0.01990749, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, -0.02632753, -0.00844872,
        -0.01916334,  0.07441156, -0.03949338, -0.06833155, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, -0.00567042, -0.04559945,
        -0.03419447, -0.03235593, -0.00259226,  0.00286131, -0.02593034],
       [-0.08906294, -0.04464164, -0.01159501, -0.03665608,  0.01219057,
         0.02499059, -0.03603757,  0.03430886,  0.02268774, -0.00936191],
       [ 0.00538306, -0.04464164, -0.03638469,  0.02187239,  0.00393485,
         0.01559614,  0.00814208, -0.00259226, -0.03198764, -0.04664087]])

In [97]:
y[:10]

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310.])

In [98]:
feature_names=['age', 'sex', 'bmi', 'bp',
               's1', 's2', 's3', 's4', 's5', 's6']

## Scikit example regression

In [99]:
from sklearn import datasets
from sklearn.linear_model import Lasso

from sklearn import linear_model, datasets
from sklearn.model_selection import GridSearchCV


diabetes = datasets.load_diabetes()


#definindo dados de treino
X_train = diabetes.data[:310]
y_train = diabetes.target[:310]


#definindo dados de teste
X_test = diabetes.data[310:]
y_test = diabetes.target[310:]


#Lasso vai tentar criar uma reta que fique sobre a maior qtd de pontos
#O erro vai ser o quanto errei do valor real para está reta
learner = Lasso(random_state=0)
alphas = np.logspace(-4, -0.5, 30)

learner.fit(X_train, y_train)

Lasso(random_state=0)

In [100]:
y_pred = learner.predict(X_test)
y_pred

array([167.65740976, 169.41733534, 129.69001805, 188.50968503,
       161.07613773, 140.22683569, 181.63125908, 147.46537223,
       156.6244556 , 162.42686029, 173.00350182, 202.95389815,
       218.21473297, 192.50670204, 175.56271442, 198.88069029,
       158.32191972, 191.0334113 , 174.08378546, 125.64157893,
       153.66199999, 128.00649334, 207.32108823, 158.86094006,
       113.02173567, 116.57138682, 208.64338664, 148.43306144,
       131.72426149, 163.30940035, 133.99719963, 163.48591879,
       150.6351001 , 137.8465945 , 149.37123585, 149.79190025,
       178.53976654, 141.80700947, 140.22683569, 109.83213345,
       196.27739144, 117.03665774, 118.86206812, 176.62489451,
       192.33941556, 136.38768825, 129.7431493 , 185.5209981 ,
        93.13905725, 158.08414225, 162.86805614, 123.87687072,
       189.1023203 , 148.98282441, 153.9221549 , 148.15695923,
       223.41792389, 222.39899953, 181.07383847, 162.62397183,
       109.83213345, 188.44708674, 139.09174823, 132.82772802,
       138.81938813, 159.56061825, 190.71224395, 157.75954306,
       159.63304194, 121.51924204, 142.6783984 , 115.32742198,
       207.85305791, 134.73987342, 148.74867727, 135.47047885,
       126.26733428, 120.82528878, 151.54862904, 137.46555551,
       210.59383172,  96.13157299, 126.49304339, 121.28411602,
       201.9481694 , 162.36785574, 107.26145947, 161.92533417,
       171.80860436, 172.57244163, 155.2487658 , 120.72012845,
       144.71811816, 206.23380407, 160.7979294 , 206.77115184,
       103.60016771, 167.17563469, 153.1541169 , 157.40142683,
       163.83347733, 154.029273  , 183.14395369, 138.53754947,
       172.07526459, 159.21922971, 169.06068167, 160.11221569,
       135.13369953, 106.56025707, 126.92862608, 173.79176101,
       192.25457667, 142.44794324, 163.12645177, 129.83458024,
       151.12592017, 137.52971459, 204.69662589, 130.55176652,
       127.6983983 , 135.05923136, 189.43124351, 112.40939946,
       136.01626465, 129.69001805, 104.15669615, 168.58853351,
       139.28022326, 129.46485426, 179.94908516, 123.96675239])

In [102]:
print('acuracia: ', np.mean(abs(y_pred - y_test)))

acuracia:  51.37622164032987